# Reshaping Pandas DataFrames
A guide to DataFrame manipulation using groupby, melt, pivot tables, pivot,transpose, and stack.

by [Todd Birchard](https://hackingandslacking.com/@toddbirchard) on [Medium](https://hackingandslacking.com/reshaping-pandas-dataframes-6aceb55c8c27)

These examples use [StackOverflow's 2018 developer survey results](https://www.kaggle.com/stackoverflow/stack-overflow-2018-developer-survey).

In [3]:
%ls ./data/

survey_results_public.csv  survey_results_schema.csv

In [4]:
import pandas as pd

In [11]:
df_raw = pd.read_csv('data/survey_results_public.csv')

In [29]:
df = df_raw[['Respondent','Country','OpenSource','Employment',
           'HopeFiveYears','YearsCoding','CurrencySymbol',
           'Salary', 'FrameworkWorkedWith','Age']]#'Bash/Shell']]
            #,'C++','Erlang','Go','Java','JavaScript']]
df.head()

,Respondent,Country,OpenSource,Employment,HopeFiveYears,YearsCoding,CurrencySymbol,Salary,FrameworkWorkedWith,Age
0,1,Kenya,No,Employed part-time,Working as a founder or co-founder of my own c...,3-5 years,KES,NaN,Django;React,25 - 34 years old
1,3,United Kingdom,Yes,Employed full-time,Working in a different or more specialized tec...,30 or more years,GBP,51000,Django,35 - 44 years old
2,4,United States,Yes,Employed full-time,Working as a founder or co-founder of my own c...,24-26 years,NaN,NaN,NaN,NaN
3,5,United States,No,Employed full-time,Working as a founder or co-founder of my own c...,18-20 years,NaN,NaN,NaN,35 - 44 years old
4,7,South Africa,No,Employed full-time,Working in a different or more specialized tec...,6-8 years,ZAR,260000,NaN,18 - 24 years old

In [19]:
df = df_raw[['Respondent', 'Country']]
df.head()

   Respondent         Country
0           1           Kenya
1           3  United Kingdom
2           4   United States
3           5   United States
4           7    South Africa

In [13]:
df_raw.columns

Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       ...
       'Exercise', 'Gender', 'SexualOrientation', 'EducationParents',
       'RaceEthnicity', 'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong',
       'SurveyEasy'],
      dtype='object', length=129)